.calendar-image{
    width: 110vw;
    max-width: 600px;
    height: auto;
}

.event-button{
    height: 78px;
    width: auto;
    position: relative;
    bottom: 60px;
    padding-bottom: 20px;
}


.calendar-desktop-holder{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 720px){
    .event-button{
            height: auto;
            width: 30vw;
    }
}