.creators-title{
    height: 145px;
    width: auto;
}

.creators-banner{
    height: 325px;
    width: auto;
}

.creators-button{
    height: 78px;
    width: auto;

}


.creators-desktop-holder{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 720px){
    .creators-button{
            height: auto;
            width: 30vw;
    }
}