.faqs-description{
    color: var(--yellow);
    font-size: var(--title-size);
    font-family: var(--font-antonio);
    text-align: center;
    margin: 0px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    rotate: -3deg;
}

.faqs-button{
    width: auto;
    height: 78px;
}


.faqs-desktop-holder{
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 720px){
    .faqs-button{
            height: auto;
            width: 30vw;
    }
}