.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90vw;
    max-width: 250px;
    background-color: #000000;
    border-radius: 10px;
    
    flex-flow: row nowrap;
    gap: 15px;
    position: relative;
    z-index: 2;
}

.counter-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.counter-inner p {
    margin: 0;
    font-family: var(--font-oswald);
    font-weight: 600;
    line-height: 1.2;
}

.counter-number {
    font-size: 40px;
}

.counter-label {
    font-size: 16px;
    margin-bottom: 8px !important;
}

@media (min-width: 720px) {

  .counter-container {
    height: 12vw;
    min-height: 120px;

    width: 40vw;
    max-width: 50vw;
    gap: 5vw;
  }

  .counter-number {
    font-size: 5vw;
  }

  .counter-label {
    font-size: 2vw;
  }

}